.home-container {
  text-align: center;
  margin-top: 100px;
  font-family: Arial, sans-serif;
}

.home-title {
  font-size: 28px;
  margin-bottom: 10px;
}

.home-text {
  font-size: 18px;
  margin-bottom: 20px;
}

.home-btn {
  padding: 12px 24px;
  font-size: 16px;
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin: 10px;
  transition: 0.2s;
}

.home-btn:hover {
  background-color: #2563eb;
}

body {
    background-color: #c5e2f6;
}